
.formulario-compra {
    width: 25rem;
    height: 5rem;
    display: flex;
    margin: auto;
    margin-top: 3rem;
}

.campo-producto {
    width: 30rem;       
    height: 4rem;
    border: 1px solid gray;
    color: black;
    font-size: 1.5rem; 
    padding: 0.5rem;  
    position: absolute; 
    outline: none;
}

.campo-precio {
    width: 20rem;     
    height: 4rem;   
    border: 1px solid gray;
    color: black;
    font-size: 1.5rem; 
    padding: 0.5rem;
    margin-top: 5rem;  
    position: absolute; 
    outline: none;
}


.boton-agregar {
    width: 10rem;
    height: 4rem;
    color: white;
    background-color: rgb(75, 148, 75);
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-left: 21rem;
    border: 0;
    border-radius: 5px;
    position: absolute; 
    outline: none;
    cursor: pointer;
}


.lista-productos {
     position: absolute; /* mantiene su posición fija respecto al formulario */
    top: 30rem;         /* ajusta según la altura de tu formulario */
    left: 55rem;        /* mueve la lista más a la izquierda en computadora */
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.item-compra {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    font-size: 15px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.producto-eliminar {
    cursor: pointer;
    color: red;
    margin-left: 50px;
}

/*Tablet*/
@media (max-width: 768px) {
    .formulario-compra {
        padding-left: 20px;   
        padding-right: 10px; 
        margin-left: 0;      
        gap: 8px;
    }
    .lista-productos {
        position: relative; 
        top: 15rem;
        left: -10rem;
        margin-top: 5rem; /* separarla del formulario */
    }
}

/* Celular */
@media (max-width: 480px) {
    .formulario-compra {
        padding-left: 20px;   
        padding-right: 5px; 
        margin-left: 0;      
        gap: 6px;
    }
    .lista-productos {
        position: relative;
        top: 15rem;
        left: -10rem;
        margin-top: 5rem;
    }

}
